


<h2 class="text-center mt-3">I have Chosen for</h2>
<p class="text-center"> {{selectedskill | titlecase}}</p>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li class="nav-item ">
                    <a href="javascript:;"
                    [class.active]="selectedskill === 'html'"
                    class="nav-link"
                    (click)="onTabChang('html')"
                    >HTML
                    </a>
                </li>

                   <li class="nav-item">
                    <a href="javascript:;"
                    [ngClass]="{
                        active :selectedskill.toLowerCase().includes('css')
                    }"
                    class="nav-link"
                    (click)="onTabChang('css')"
                    >CSS
                    </a>
                </li>

                  <li class="nav-item">
                    <a href="javascript:;"
                     [ngClass]="{
                        active :selectedskill.toLowerCase().includes('node')
                    }"
                    class="nav-link"
                    (click)="onTabChang('node')"
                    >JS
                    </a>
                </li>

                  <li class="nav-item">
                    <a href="javascript:;"
                     [ngClass]="{
                        active :selectedskill.toLowerCase().includes('angular')
                    }"
                    class="nav-link"
                    (click)="onTabChang('angular')"
                    >ANGULAR
                    </a>
                </li>
            </ul>


            <ng-container [ngSwitch]="selectedskill">
                <p *ngSwitchCase="'html'" class="alert alert-info mt-2">
                    <strong>HTML:-</strong>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. In fugit architecto perspiciatis impedit repellat voluptatum, tenetur deserunt,
                </p>
                <p  *ngSwitchCase="'css'" class="alert alert-danger mt-2">
                    <strong>CSS:-</strong>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. In fugit architecto perspiciatis impedit repellat voluptatum, tenetur deserunt,
                </p>
                <p *ngSwitchCase="'node'"  class="alert alert-warning mt-2">
                    <strong>NODE:-</strong>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. In fugit architecto perspiciatis impedit repellat voluptatum, tenetur deserunt,
                </p>
                <p  *ngSwitchCase="'angular'" class="alert alert-primary mt-2">
                    <strong>ANGULAR:-</strong>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. In fugit architecto perspiciatis impedit repellat voluptatum, tenetur deserunt,
                </p>
            </ng-container>
        </div>
    </div>
</div>



<h2 class="text-center mt-3">I have Chosen for</h2>

<p class="text-center"> {{selectedArr | titlecase}}</p>


<div class="container mt5">
    <div class="row">

        <ul class="nav nav-pills">
            <li class="nav-item"  *ngFor="let skill1 of TabArr1">
                <a herf="javascript:;"
                class="nav-link"
                [ngClass]="{
                    active :selectedArr === skill1.id
                }"
                (click)="onTabChange(skill1.id)"
                >{{skill1.name}}</a>
            </li>
        </ul>



        <div class="tab-content" [ngSwitch]="selectedArr">
            <div class="card" *ngFor="let skill1 of TabArr1">
                <div class="card-body" *ngSwitchCase="skill1.id">
                    <strong>{{skill1.name}}</strong>
                    {{skill1.defination}}
                </div>
            </div>
        </div>
    </div>
</div>




